*{
    font-family: Roboto, 'sans-serif'
}
body{
    background-color: #0F172A;
    font-size: 14px;
}
header{
    border-bottom: 1px solid #d4d4d4;
}

/* HEADER */ 
.nav-item{
    box-sizing: border-box;
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    color: #d4d4d4;
    margin-left: 8px;
}
.nav-item:hover{
    background-color: #d4d4d4;
    color: #0F172A;
}
.nav-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    height: 28px;
    padding: 0 8px;
}
.flag{
    height: 25px;
}

/* INTRO */
#intro{
    height: 400px;
    width: 100%;
}
.document{
    margin-bottom: 120px;
}

/* PROJECTS */
section, h3, .figure-caption{
    color: #d4d4d4;
}
h3{
    border-top: 1px solid #d4d4d4;
    padding: 16px 0;
    font-size: 22px;
}
.img-project{
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    padding: 4px;
}
.badge{
    color: #262626;
}

/* LANGUAGES */
.lang-rate{
    margin: 8px 0;
}
.progress {
    width: 120px;
    height: 120px !important;
    background: none;
    position: relative;
    left: 25%;
}
.progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left {
    left: 0;
}
.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border: 10px solid #F1A005; /* a5f3fc - blue */
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right {
    right: 0;
}
.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading 1s linear forwards;
}
.progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    line-height: 100px;
    position: absolute;
    top: 5%;
    left: 5%;
}
.en, .pt, .fr, .es{
    background-position: center;
    background-size: cover;
}
.en{
    background-image: url("https://img.freepik.com/premium-vector/bright-glossy-sticker-speech-bubble-shape-with-usa-flag-american-english-language-concept_88653-829.jpg?w=2000");
}
.pt{
    background-image: url("https://media.istockphoto.com/id/1195392763/vector/brazil-flag-speech-bubble.jpg?s=612x612&w=0&k=20&c=46pGAdYFj763QFll_hNLdlejtUuHQXpJMB6shxZeAXw=");
}
.fr{
    background-image: url("https://img.freepik.com/premium-vector/bright-glossy-sticker-speech-bubble-shape-with-france-flag-french-language-concept_88653-822.jpg?w=2000");
}
.es{
    background-image: url("https://img.freepik.com/premium-vector/bright-glossy-sticker-speech-bubble-shape-with-spain-flag-spanish-language-concept_88653-828.jpg?w=740");
}

/* Animation */
#en .progress-left .progress-bar {
    animation: loading-en 1s linear forwards 1.5s;
}
#pt .progress-left .progress-bar {
    animation: loading-pt 1s linear forwards 1.5s;
}
#fr .progress-right .progress-bar,  #es .progress-right .progress-bar{
    animation: loading-fr-es 1s linear forwards;
}

@keyframes loading {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
}
@keyframes loading-en {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(155deg);
      transform: rotate(155deg);
    }
}
@keyframes loading-pt {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
}
@keyframes loading-fr-es {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(130deg);
      transform: rotate(130deg);
    }
}